<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>One Click</title>
</head>

<body>
    <h1>One Click</h1>
    <!-- <pre>{{projects}}</pre> -->

    {% for project in projects %}
    <h2>{{project.tituto}}</h2>
    <p>{{project.descripcion}}</p>
    <img src="{{project.imagen.url}}" alt="">
    <a href="{{project.url}}">{{project.url}}</a>
    {% endfor %}
</body>

</html>